@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

a {
    color: #fff;
}

a:hover {
    text-decoration: none;
    color: #252525;
}

body {
    min-height: 100vh;
    background-color: #111111;
    color: #fff;
    font-weight: 500;
}

#wrapper {
    width: 100%;
    margin: 0 auto;
    height: 100%;
}

#menu-hamburger {
    display: none;
    position: absolute;
    right: 30px;
    top: 30px;
    border-radius: 10px;
    width: 54px;
    height: 54px;
    background-color: #252525;
    cursor: pointer;
    z-index: 100000;
}

#menu-hamburger span {
    position: relative;
    display: block;
    width: 30px;
    height: 2px;
    margin: 12px;
    transition: 0.3s cubic-bezier(.46, .15, .5, .91);
    background-color: #ddd;
}

#toggled-menu {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background-color: #252525;
    transition: 0.3s cubic-bezier(.46, .15, .96, .47);
    z-index: 10000;
}

#toggled-menu ul {
    width: 100%;
    list-style-type: none;
    padding: 0;
}

#toggled-menu ul li {
    margin-bottom: 50px;
    text-align: center;
    cursor: pointer;
}

#toggled-menu ul li:hover a,
#toggled-menu ul li:hover i {
    color: #ffb400 !important;
}

#toggled-menu ul li i {
    margin-right: 10px;
    font-size: 20px;
}

#toggled-menu ul li a {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
}

.header {
    position: fixed;
    top: calc( 50% - 185px);
    right: 30px;
    height: 350px;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header ul {
    padding: 0;
    list-style-type: none;
}

.header ul li {
    position: relative;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: #2b2a2a;
    border-radius: 25px;
    margin: 20px 0;
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
}

.header ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff !important;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 0px;
    background-color: #ffb400;
    border-radius: 25px;
    z-index: -1;
    transition: 0.2s ease-in-out;
    opacity: 0;
}

.header ul li i {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 0;
    z-index: 3;
    color: #fff;
    font-size: 19px;
    transition: .3s
}

.header ul li:hover a {
    opacity: 1;
    width: 180px;
    left: -130px;
    z-index: 2;
}


/************ ABOUT PAGE ***********/

.title-section {
    width: 100%;
    padding: 80px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-section h1 {
    font-size: 56px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 0;
}

.title-section h1 span {
    color: #ffb400;
}

.title-section>span {
    position: absolute;
    font-size: 110px;
    font-weight: 800;
    opacity: 0.1;
}

.custom-title {
    padding-bottom: 22px;
}

.about-list li {
    padding-bottom: 20px;
    font-size: 15px;
}

.about-list .value {
    font-weight: 600;
    font-size: 16px;
}

.btn-download {
    color: #fff;
    padding: 10px;
    border-radius: 20px;
    width: 200px;
    background-color: #ffb400;
}

.with-margin {
    margin-bottom: 30px;
}

.box-stats {
    border: 1px solid #333;
    border-radius: 5px;
    padding: 10px 20px;
}

.box-stats h3 {
    color: #ffb400;
    font-size: 40px;
    font-weight: 800;
}

.box-stats h3 sup {
    font-weight: 600;
}

.box-stats p {
    font-size: 16px;
    padding-left: 40px;
    text-transform: uppercase;
}

.box-stats p:before {
    content: "";
    position: absolute;
    left: 0;
    top: 5px;
    width: 30px;
    height: 1px;
    background-color: #333;
}

.separator {
    border: 1px solid #333;
    margin: 70px auto 55px;
    max-width: 40%;
}

.percent {
    position: relative;
}

.percent svg {
    /* position: relative; */
    display: block;
    width: 160px;
    height: 160px;
    z-index: 1000;
}

.percent svg circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #333;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px, 5px);
}


/* .percent svg circle:nth-child(2) {
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
} */

.percent .number {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100%;
    height: 100%;
}

.card-container1 .percent svg circle:nth-child(2) {
    stroke-dasharray: 440;
    stroke-dashoffset: 44;
    stroke: #ffb400
}

.card-container2 .percent svg circle:nth-child(2) {
    stroke-dasharray: 440;
    stroke-dashoffset: 66;
    stroke: #ffb400
}

.card-container3 .percent svg circle:nth-child(2) {
    stroke-dasharray: 440;
    stroke-dashoffset: 88;
    stroke: #ffb400
}

.card-container4 .percent svg circle:nth-child(2) {
    stroke-dasharray: 440;
    stroke-dashoffset: 123.2;
    stroke: #ffb400
}

.card-container5 .percent svg circle:nth-child(2) {
    stroke-dasharray: 440;
    stroke-dashoffset: 140.8;
    stroke: #ffb400
}

.card-container6 .percent svg circle:nth-child(2) {
    stroke-dasharray: 440;
    stroke-dashoffset: 110;
    stroke: #ffb400
}

.card-container7 .percent svg circle:nth-child(2) {
    stroke-dasharray: 440;
    stroke-dashoffset: 198;
    stroke: #ffb400
}

.card-container8 .percent svg circle:nth-child(2) {
    stroke-dasharray: 440;
    stroke-dashoffset: 61.6;
    stroke: #ffb400
}

.card-container9 .percent svg circle:nth-child(2) {
    stroke-dasharray: 440;
    stroke-dashoffset: 44;
    stroke: #ffb400
}

.card-container10 .percent svg circle:nth-child(2) {
    stroke-dasharray: 440;
    stroke-dashoffset: 66;
    stroke: #ffb400
}

.card-container11 .percent svg circle:nth-child(2) {
    stroke-dasharray: 440;
    stroke-dashoffset: 105.6;
    stroke: #ffb400
}

.resume-box ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.resume-box ul li {
    position: relative;
    padding: 0 20px 0 66px;
    margin: 0 0 50px;
}

.resume-box .icon {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;
    right: 0;
    line-height: 40px;
    z-index: 1;
    border-radius: 50%;
    color: #fff;
    background-color: #ffb400;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resume-box .time {
    color: #fff;
    font-size: 12px;
    padding: 1px 10px;
    display: inline-block;
    margin-bottom: 12px;
    border-radius: 20px;
    font-weight: 600;
    background-color: #252525;
    opacity: .8;
}

.resume-box h5 {
    font-size: 18px;
    margin: 7px 0 10px;
}

.resume-box .place {
    opacity: .8;
    font-weight: 600;
    font-size: 15px;
    position: relative;
    padding-left: 26px;
}

.resume-box .place:before {
    position: absolute;
    content: "";
    width: 10px;
    height: 2px;
    background-color: #fff;
    left: 7px;
    top: 7px;
    opacity: .8;
}

.resume-box p {
    margin: 0;
    color: #eee;
    font-size: 14px;
}

.resume-box li:after {
    content: "";
    position: absolute;
    top: 0;
    left: 20px;
    bottom: 0;
    border-left: 1px solid #333;
}

footer {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px !important;
    height: 50px !important;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
    background-color: #2b2a2a;
    cursor: pointer;
}

.social:hover {
    background-color: #ffb400;
    transition: 0.3s;
}


/********* PORTFOLIO ***********/

.nav-link {
    color: #fff !important;
}

.nav-item .active {
    background-color: #ffb400 !important;
    color: #252525 !important;
    border-radius: 0 !important;
}

.tag {
    background: #ffb400;
    box-shadow: 0 1px rgba(0, 0, 0, 0.2);
    color: #252525;
    position: absolute;
    right: 6px;
    top: 20px;
    padding: 5px 10px;
    font-size: 20px;
    font-style: italic;
    border-radius: 3px;
}

.tag:before {
    border: 4px solid transparent;
    border-bottom: 4px solid #ffb400;
    border-left: 4px solid #ffb400;
    content: "";
    position: absolute;
    right: 1px;
    top: -8px;
}

.img-thumbnail-container {
    /* border-radius: 5px !important; */
    border: 1px solid #333 !important;
    /* border: none; */
    background: transparent;
}

.img-thumbnail {
    background: transparent;
    border: none;
    padding: 0 !important;
    border-radius: 0;
}

.img-thumbnail-container .caption {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    padding: 20px 20px;
}

.caption {
    position: relative;
    border: 1px solid #333;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.caption .social {
    position: absolute;
    top: -25px;
    right: 25px;
    font-size: 30px;
    background-color: #ffb400;
    /* border: 2px solid #ffb400; */
    color: #333;
}

.caption h4 {
    font-weight: 800;
    color: #ffb400;
    font-style: italic;
}

.caption a {
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    background-color: #ffb400;
}

.caption a:hover {
    text-decoration: none;
    color: #fff;
}


/************** CONTACT ***********/

.custom-contact-icon {
    left: 0;
    top: 5px;
    font-size: 33px;
    color: #ffb400;
}

.custom-span-contact {
    opacity: 0.5;
    font-weight: 400;
}

.formContact input {
    border: 1px solid #111;
    width: 100%;
    background-color: #252525;
    color: #fff;
    padding: 11px 26px;
    margin-bottom: 30px;
    border-radius: 30px;
    outline: none !important;
    transition: 0.3s;
}

.formContact textarea {
    border: 1px solid #111;
    width: 100%;
    height: 160px;
    background-color: #252525;
    color: #fff;
    padding: 12px 26px;
    margin-bottom: 20px;
    border-radius: 30px;
    outline: none !important;
    transition: 0.3s;
}

.formContact textarea:focus,
.formContact input:focus {
    border-color: #ffb400;
}

.btn-contact {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eee !important;
    background-color: #ffb400;
    padding: 5px 5px;
    border: none;
    border-radius: 24px;
    font-size: 18px;
    width: 190px;
    height: 45px;
    line-height: 45px;
}

.btn-contact span {
    font-size: 14px;
}


/******** MEDIA QUERIES **********/

@media all and (max-width:769px) {
    .header {
        display: none;
    }
    .title-section {
        padding: 42px 15px;
        position: fixed;
        z-index: 1000;
        top: 0;
        text-align: left;
        display: block;
        background-color: #252525;
        border-bottom: 1px solid #333;
        margin-bottom: 36px;
    }
    .title-section h1 {
        font-size: 26px
    }
    .title-bg {
        display: none;
    }
    #menu-hamburger {
        display: block !important;
        position: fixed;
    }
    .main-content {
        margin-top: 150px;
    }
    .box-stats p {
        text-transform: capitalize;
    }
    .about-list .value {
        font-size: 13px;
    }
}