<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="../font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>Fayeulle Mickael | About Me</title>
</head>

<body>
    <main id="wrapper">
        <div id="menu-hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div id="toggled-menu">
            <ul>
                <li>
                    <i class="fa fa-home"></i>
                    <a href="../index.html">Home</a>
                </li>
                <li>
                    <i class="fa fa-user"></i>
                    <a href="about.html">About</a>
                </li>
                <li>
                    <i class="fa fa-briefcase"></i>
                    <a href="portfolio.html">Portfolio</a>
                </li>
                <li>
                    <i class="fa fa-envelope-open"></i>
                    <a href="contact.html">Contact</a>
                </li>
                <li>
                    <i class="fa fa-comments"></i>
                    <a href="blog.html">Blog</a>
                </li>
            </ul>
        </div>
        <header class="header">
            <menu class="menu-container">
                <ul>
                    <li class="link-active">
                        <i class="fa fa-home"></i>
                        <a href="../index.html">Home</a>
                    </li>
                    <li>
                        <i class="fa fa-user"></i>
                        <a href="about.html">About</a>
                    </li>
                    <li>
                        <i class="fa fa-briefcase"></i>
                        <a href="portfolio.html">Portfolio</a>
                    </li>
                    <li>
                        <i class="fa fa-envelope-open"></i>
                        <a href="contact.html">Contact</a>
                    </li>
                    <li>
                        <i class="fa fa-comments"></i>
                        <a href="blog.html">Blog</a>
                    </li>
                </ul>
            </menu>
        </header>
        <section class="title-section">
            <h1>ABOUT <span>ME</span></h1>
            <span class="title-bg">RESUME</span>
        </section>
        <section class="main-content">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-5 col-xl-6">
                        <div class="row">
                            <div class="col-12">
                                <h3 class="text-uppercase custom-title mb-0 ft-wt-600">personal infos</h3>
                            </div>
                            <div class="col-6">
                                <ul class="about-list list-unstyled">
                                    <li> <span class="title">First name :</span> <span class="value d-block d-sm-inline-block d-lg-block d-xl-inline-block">Mickael</span> </li>
                                    <li> <span class="title">Last name :</span> <span class="value d-block d-sm-inline-block d-lg-block d-xl-inline-block">Fayeulle</span> </li>
                                    <li> <span class="title">Age :</span> <span class="value d-block d-sm-inline-block d-lg-block d-xl-inline-block">28 Years</span> </li>
                                    <li> <span class="title">Nationality :</span> <span class="value d-block d-sm-inline-block d-lg-block d-xl-inline-block">French</span> </li>
                                    <li> <span class="title">Freelance :</span> <span class="value d-block d-sm-inline-block d-lg-block d-xl-inline-block">Available</span> </li>
                                </ul>
                            </div>
                            <div class="col-6">
                                <ul class="about-list list-unstyled">
                                    <li> <span class="title">Address :</span> <span class="value d-block d-sm-inline-block d-lg-block d-xl-inline-block">Zoteux</span> </li>
                                    <li> <span class="title">phone :</span> <span class="value d-block d-sm-inline-block d-lg-block d-xl-inline-block">+33612871271</span> </li>
                                    <li> <span class="title">Email :</span> <span class="value d-block d-sm-inline-block d-lg-block d-xl-inline-block">mika.fayeulle@gmail.com</span> </li>
                                    <li> <span class="title">Github :</span> <span class="value d-block d-sm-inline-block d-lg-block d-xl-inline-block">https://github.com/Hellfik</span> </li>
                                    <li> <span class="title">Langages :</span> <span class="value d-block d-sm-inline-block d-lg-block d-xl-inline-block">French, English</span> </li>
                                </ul>
                            </div>
                            <div class="col-12 mt-3 text-sm-center text-lg-left">
                                <a href="about.html" class="btn btn-download">Download CV</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-7 col-xl-6 mt-5 mt-lg-0">
                        <div class="row">
                            <div class="col-6">
                                <div class="box-stats with-margin">
                                    <h3 class="poppins-font position-relative">2<sup>+</sup></h3>
                                    <p class="open-sans-font m-0 position-relative">years of <span class="d-block">experience</span></p>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="box-stats with-margin">
                                    <h3 class="poppins-font position-relative">10<sup>+</sup></h3>
                                    <p class="open-sans-font m-0 position-relative">completed <span class="d-block">projects</span></p>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="box-stats">
                                    <h3 class="poppins-font position-relative">3<sup>+</sup></h3>
                                    <p class="open-sans-font m-0 position-relative">Happy<span class="d-block">customers</span></p>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="box-stats">
                                    <h3 class="poppins-font position-relative">2000<sup>+</sup></h3>
                                    <p class="open-sans-font m-0 position-relative">cups of <span class="d-block">coffee</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="separator">
                <div class="row">
                    <div class="col-12">
                        <h3 class="text-uppercase pb-4 pb-sm-5 mb-3 mb-sm-0 text-left text-center custom-title ft-wt-600">My Skills</h3>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="../js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>

</html>